.righttab {
    overflow:hidden;width:450px;height:500px;background:#eee;float:left;left:200px;top:0;padding:3px;
}

.lefttab {
    overflow:auto;width:100px;height:500px;background:#ccc;float:left;left:0;top:0;padding:3px;
}
textarea {
    resize: none;
    width: 300px;
    height: 20px;
    row:'4';
    cols:'80';
}

#leftbit {
    clear:both
}